{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Detail de ma commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix en Euro</th>
                <th>Quantité</th>
                <th>SousTotal</th>
               {#  <th>Com_adresse_facturation</th>
                <th>Com_isPaid</th>
                <th>Com_moyen_paiement</th>
                <th>Com_stripe_session_id</th>
                <th>Com_paypal_id</th>
                <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
              <td>{{ commande.p_nom }}</td>
                {# <td>{{ commande.comDate ? commande.comDate|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ commande.p_prix }}</td>
                <td>{{ commande.p_quantite }}</td>
                <td>{{ commande.p_SousTotal }}</td>
                {# <td>{{ commande.p_SousTotal }}</td> #}
                {# <td>{{ commande.comAdresseFacturation }}</td>
                <td>{{ commande.comIsPaid ? 'Yes' : 'No' }}</td>
                <td>{{ commande.comMoyenPaiement }}</td>
                <td>{{ commande.comStripeSessionId }}</td>
                <td>{{ commande.comPaypalId }}</td> #}
                <td>     
                {# <a href="{{ path('app_commande_crud_show', {'id': commande.id}) }}">show</a> #}
                    {# <a href="{{ path('app_commande_crud_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
           {% for total in totals %}
           <td>Transporteur : {{ total.p_tra }} </td>
           <td> {{ total.p_fdp }} </td>
           <td> 1 </td>
                            <td> {{ total.p_fdp }} €</td>
                          {% endfor %}
        </tbody>
          <tfoot>
          {% for total in totals %}
                        <tr>
                            <td colspan="3">Total</td>
                            
                            <td> {{ total.p_total }} €</td>
                        </tr>
                          {% endfor %}
          </tfoot>
    </table>

    {# <a href="{{ path('app_commande_crud_new') }}">Create new</a> #}
{% endblock %}
